*~
.DS_Store
.htaccess
.svn
.cvs
*.bak
*.swp
Thumbs.db
*/temps/*
.wpe-devkit/*
.wpengine-conf/*

#misc files
adminer-*.php
license-*.txt
robots.txt
readme.*.html
assets/plugins/e-signature/assets/temps/*
#assets/plugins/wordpress-importer/
assets/themes/base/__sql/
assets/themes/base/excel/
assets/themes/base/__sql/
assets/themes/base/excel/
assets/themes/base/sass/error_log.log
/assets/themes/base/tests/acceptance/_env.php
/assets/pdfs/

ftpdir/
tmp/
assets/sn-backups/
assets/mu-plugins/
node_modules/

#icons already established within theme
#favicon.ico
apple-touch-*.png

# wordpress specific
wp-config.php
wp-config*.php
assets/languages/
assets/uploads/
assets/blogs.dir/
assets/upgrade/*
assets/backup-db/*
assets/advanced-cache.php
assets/wp-cache-config.php
assets/cache/*
assets/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
assets/object-cache.php
assets/mu-plugins/mu-plugin.php
assets/mu-plugins/slt-force-strong-passwords.php
assets/mu-plugins/stop-long-comments.php
assets/mu-plugins/force-strong-passwords*
assets/mu-plugins/wpengine-common*
assets/mysql.sql
.wpe-*ignore

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/assets/index.php
/assets/themes/twentyten
/assets/themes/twentyeleven
/assets/themes/twentytwelve
/assets/themes/twentythirteen
/assets/themes/twentyfourteen
/assets/themes/twentyfifteen
/assets/themes/twentysixteen
/assets/themes/twentyseventeen
/assets/themes/index.php
/assets/plugins/index.php
/assets/plugins/akismet*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mng
*.asx
*.asf

#cache
assets/plugins/*/cache/*

# ignore everything in the root except the "assets" directory.
!assets/

# ignore everything in the "assets" directory, except:
# "mu-plugins", "plugins", "themes" directory
assets/*
!assets/mu-plugins/
!assets/plugins/
!assets/themes/

# ignore these plugins
assets/plugins/hello.php

# ignore specific themes
assets/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
.DS_Store

#Composer specific
!/assets/themes/base/vendor/

#Codeception failed tests
/assets/themes/base/tests/_output
/assets/themes/base/tests/_support/_generated/AcceptanceTesterActions.php

/assets/debug.log
local-phpinfo.php
local-xdebuginfo.php
