/* Error: Undefined mixin.
 *    ,
 * 40 | /   @include media(">tablet") {
 * 41 | |     display: flex;
 * 42 | |     flex-wrap: wrap;
 * 43 | |     flex-direction: row;
 * 44 | |     justify-content: space-between;
 * 45 | \   }
 *    '
 *   sass/templates/woocommerce.scss 40:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 40 \2502  \250c    @include media(">tablet") {\a 41 \2502  \2502      display: flex;\a 42 \2502  \2502      flex-wrap: wrap;\a 43 \2502  \2502      flex-direction: row;\a 44 \2502  \2502      justify-content: space-between;\a 45 \2502  \2514    }\a    \2575 \a   sass/templates/woocommerce.scss 40:3  root stylesheet';
}
